@import "../../../../styles/mixins";
.landing-page {
  footer {
    text-align: center;
    padding: rem(34);
    background: #1f1f1f;
    font-weight: normal;
    font-size: rem(24);
    line-height: rem(32);
  }
}

@include mobile {
  .landing-page {
    footer {
      font-size: rem(12);
      padding: rem(8) rem(12);
    }
  }
}
